/** variables **/
$primaryColor: #ff0100;
$containerWidth: 700px;

@mixin flexBox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

/** common **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: arial;
  font-size: 16px;
  line-height: 1.4;
}
img {
  width: auto;
  max-width: 100%;
}
button {
  outline: none;
}
a {
  text-decoration: none;
}

/** splash **/
#splash {
  @include flexBox(column, flex-end, flex-start);
  background-color: $primaryColor;
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 4rem;
  z-index: 999;
}
#splash h2 {
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 1.2;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
}
#splash h2 span {
  display: block;
}
#splash img {
  position: absolute;
  opacity: 1;
  top: -3%;
  right: 2%;
  width: 25%;
}

/** header **/
header {
  min-height: 16vh;
  @include flexBox(column, space-between, center);
  background-color: $primaryColor;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.3);
  padding-top: 20px;
}
#youtubeLink {
  padding: 6px 10px;
  border: none;
  width: 100%;
  max-width: $containerWidth;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 10px;
}
form {
  width: $containerWidth;
  margin: 0 auto;
  @include flexBox(column, space-evenly, normal);
}
.quality {
  @include flexBox(row, space-evenly, center);
}
.group {
  @include flexBox(row, space-between, center);
}
.group label {
  cursor: pointer;
  width: 100px;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  border-bottom: 4px solid transparent;
}
.group label.active {
  border-bottom: 4px solid white;
}

/** section **/
section {
  min-height: 84vh;
  @include flexBox(column, flex-start, center);
  padding: 20px 0;
  text-align: center;
}
.btnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  display: block;
  border: none;
  padding: 15px 25px;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  color: gray;
  transition: all 0.4s ease-in-out;
  background-color: #f5f5f5;
  pointer-events: none;
}
#grabber.active {
  background-color: royalblue;
  color: white;
}
#download.active {
  background-color: #009688;
  color: white;
}
._note {
  opacity: 0.4;
  font-style: italic;
  margin-bottom: 5px;
  font-size: 14px;
}

/** canvas **/
.output {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 20px 0;
  text-align: center;
  flex-direction: column;
  transform: translateY(60px);
  opacity: 0;
  pointer-events: none;
}
#result {
  margin: 0 auto;
}
